.card{
    margin: 0 auto;
    width: 80%;
    height: 300px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

.recetas-boton {
    width: 10%;
    height: 30px;
    margin-top: 40px;
}
.recetas-lista{
    margin-top: 10px;
    list-style: none;
}
.recetas-lista ul li{
    display: block;
    margin: 0 auto;
    padding: 5px;
    font-size: 20px;
    margin-right: 10em;
}
.paginacion{
    justify-content: center;
    margin-left: 90px;
}

.recetas-boton:hover {
    background-color: #99C922;
    cursor: pointer;
}
.recetas-img{
    width: 50%;
    border-radius: 50%;
    margin-top: 50px;
}

.item6 {
    background-image: url("../img/fongeneral.jpg");
}